[package]
name = "bin"
version = "1.0.3"
description = "a paste bin."
repository = "https://github.com/w4/bin"
license = "WTFPL OR 0BSD"
authors = ["Jordan Doyle <jordan@doyle.la>"]
edition = "2018"

[dependencies]
owning_ref = "0.4"
linked-hash-map = "0.5"
rocket = { git = "https://github.com/SergioBenitez/Rocket", branch = "async" }
askama = "0.9"
lazy_static = "1.4"
rand = { version = "0.7", features = ["nightly"] }
gpw = "0.1"
syntect = "4.1"
serde_derive = "1.0"
tokio = { version = "0.2", features = ["sync", "macros"] }
async-trait = "0.1"

[profile.release]
lto = true
codegen-units = 1
incremental = false

[badges]
travis-ci = { repository = "w4/bin" }
is-it-maintained-issue-resolution = { repository = "w4/bin" }
is-it-maintained-open-issues = { repository = "w4/bin" }
maintenance = { status = "passively-maintained" }
