{% extends "base.html" %}

{% block styles %}
    pre {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: auto;
        font-family: inherit;
        font-size: 1rem;
        line-height: inherit;
        counter-reset: line;
    }
    code {
        counter-increment: line;
    }
    code::before {
        content: counter(line);
        display: inline-block;
        width: 2em; /* Fixed width */
        padding: 0 1em 0.3em 0;
        margin-right: .5em;
        color: #888;
        -webkit-user-select: none;
    }
{% endblock styles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="highlight.css" />
{% endblock head %}

{% block content %}<pre>{{ content|safe }}</pre>{% endblock content %}